In [14]:
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import numpy as np
import os

In [15]:
#NYC_df = pd.read_csv(os.path.join("..", "Resources", "NYC_df_12_30_18.csv"))
NYC_df = pd.read_csv("NYC_df_1_5_19.csv")
NYC_df.head()

,LAT,LONG,Manhattan,Brooklyn,Bronx,Queens,StatenIsland,DrivInattDistr,FailYield,FollowClose,...,Wednesday,Thursday,Friday,Saturday,Sunday,Fri_or_SatNight,Spring,Summer,Fall,Winter
0,40.781690,-73.94897,1,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,1,0
1,40.620872,-74.00221,0,1,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,1,0
2,40.749890,-73.86259,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
3,40.716140,-73.83357,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,40.610115,-73.98489,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0

In [16]:
NYC_df.count()

LAT                       51360
LONG                      51360
Manhattan                 53356
Brooklyn                  53356
Bronx                     53356
Queens                    53356
StatenIsland              53356
DrivInattDistr            53356
FailYield                 53356
FollowClose               53356
BackUnsafe                53356
UnsafeLaneChange          53356
PassLaneUseImprop         53356
TrafControlDisregard      53356
UnsafeSpeed               53356
TurnImprop                53356
AggrDrive                 53356
FailKeepRight             53356
UnsafeDriving             53356
RecklessDriving           53356
collis_sedan_sedan        53356
collis_sedan_SWorSUV      53356
collis_SWorSUV_SWorSUV    53356
Motorist_Inj_Dead         53356
MorningRush               53356
Midday                    53356
EveningRush               53356
Overnight                 53356
Monday                    53356
Tuesday                   53356
Wednesday                 53356
Thursday                  53356
Friday                    53356
Saturday                  53356
Sunday                    53356
Fri_or_SatNight           53356
Spring                    53356
Summer                    53356
Fall                      53356
Winter                    53356
dtype: int64

In [18]:
NYC_df=NYC_df.drop(columns=['LAT','LONG','Brooklyn','Bronx','Queens','StatenIsland','DrivInattDistr','UnsafeLaneChange','PassLaneUseImprop','TurnImprop','collis_sedan_sedan','MorningRush','EveningRush','Midday','Overnight','Friday','Saturday','Sunday','Monday','Tuesday','Wednesday','Winter','Spring','Fall'])

In [23]:
NYC_df.count()

Manhattan                 53356
FailYield                 53356
UnsafeDriving             53356
RecklessDriving           53356
collis_sedan_SWorSUV      53356
collis_SWorSUV_SWorSUV    53356
Motorist_Inj_Dead         53356
Thursday                  53356
Fri_or_SatNight           53356
Summer                    53356
dtype: int64

In [24]:
#NYC_df=NYC_df.drop(columns=['BackUnsafe','FollowClose','TrafControlDisregard','UnsafeSpeed','AggrDrive','FailKeepRight','UnsafeSpeed','FailYield','Thursday'])
NYC_df=NYC_df.drop(columns=['FailYield','Thursday'])

In [56]:
NYC_df['Outome']=NYC_df['Motorist_Inj_Dead']

In [58]:
NYC_df=NYC_df.drop(columns=['Motorist_Inj_Dead'])

In [59]:
NYC_df.dtypes

Manhattan                 int64
UnsafeDriving             int64
RecklessDriving           int64
collis_sedan_SWorSUV      int64
collis_SWorSUV_SWorSUV    int64
Fri_or_SatNight           int64
Outome                    int64
dtype: object

In [62]:
X = NYC_df.iloc[:, :5].values
Y = NYC_df.iloc[:, 6].values

In [64]:
#target = NYC_df["Motorist_Inj_Dead"]
#target_names = ["No_harm","Injured_or_dead"]
X

array([[1, 1, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 1, 0, 1, 0],
       ...,
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 1],
       [0, 1, 0, 0, 1]], dtype=int64)

In [48]:
NYC_df=NYC_df.drop("Summer",axis=1)


data = NYC_df.drop("Motorist_Inj_Dead", axis=1)
feature_names = data.columns
data.head()

,Manhattan,UnsafeDriving,RecklessDriving,collis_sedan_SWorSUV,collis_SWorSUV_SWorSUV,Fri_or_SatNight
0,1,1,0,0,0,0
1,0,1,0,0,0,0
2,0,1,0,1,0,0
3,0,0,1,0,0,0
4,0,1,0,1,0,0

In [54]:
feature_names

Index(['Manhattan', 'UnsafeDriving', 'RecklessDriving', 'collis_sedan_SWorSUV',
       'collis_SWorSUV_SWorSUV', 'Fri_or_SatNight'],
      dtype='object')

In [49]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression(normalize=True)

In [70]:
lr.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=True)

In [71]:
y_pred=lr.predict(X_test)

In [73]:
max(y_pred)

0.26767908681611136

In [75]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.024665461965381774

In [65]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, random_state=42,test_size=.1)

In [82]:
# Support vector machine linear classifier
from sklearn.svm import SVC 
model = SVC(kernel='linear',class_weight='balanced')
model.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight='balanced', coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [83]:
# Model Accuracy
print('Test Acc: %.3f' % model.score(X_test, y_test))

Test Acc: 0.281

In [84]:
# Calculate classification report
from sklearn.metrics import classification_report
predictions = model.predict(X_test)
print(classification_report(y_test, predictions,
                            target_names=target_names))

                 precision    recall  f1-score   support

        No_harm       0.94      0.17      0.29      4577
Injured_or_dead       0.16      0.93      0.27       759

    avg / total       0.83      0.28      0.29      5336

In [ ]:
# def If_injured_or_dead(param,param2,param3):
#     if model.predict([[param,param2,param3]])==0:
#         print ("Yes")
#     else:
#         print ("No")

In [ ]:
# If_injured_or_dead()

In [38]:
NYC_df.describe()

,Manhattan,UnsafeDriving,RecklessDriving,collis_sedan_SWorSUV,collis_SWorSUV_SWorSUV,Motorist_Inj_Dead,Fri_or_SatNight,Summer
count,53356.000000,53356.000000,53356.000000,53356.000000,53356.000000,53356.000000,53356.000000,53356.000000
mean,0.153985,0.494040,0.099651,0.230546,0.595285,0.140153,0.064266,0.343635
std,0.360937,0.499969,0.299537,0.421186,0.490842,0.347149,0.245229,0.474926
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000